<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}

    <div class="container">
        <div class="row underNav">
        </div>
        <div class="row content">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">

                {{#if isAuthenticated}}
                    <div id="loader-wrapper">

                        <div id="loader">
                    
                        </div>

                    </div>
                {{else}}
                    <div id="loader-wrapper">

                        <div id="loader-stop">
                    
                        </div>

                    </div>
                {{/if}}

            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row belowContent">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="text-align: center">
                <span id="command">
                    Please Slow down.
                </span>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

    <!-- Footer -->
{{> footer }}
